<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldStoreAnalyticsData</key>
	<true/>
	<key>shouldStoreErrorData</key>
	<true/>
	<key>isDebuggerItemIconsAnimationEnabled</key>
	<true/>
	<key>isDebuggerBubblePulseAnimationEnabled</key>
	<string>YES</string>
	<key>shouldStoreNetowrkingData</key>
	<string>YES</string>
	<key>shouldStoreLogsData</key>
	<string>YES</string>
</dict>
</plist>
